@import url("https://fonts.googleapis.com/css2?family=Jost");

body {
	font-family: "Jost", sans-serif;
	background-color: rgb(0, 10, 20);
	color: white;
}

aside {
	margin: 1em;
	grid-area: 1/1/2/3;
	width: 50%;
}
section{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
article {
	border: 2px solid white;
	padding: 1em;
	margin: 1em;
}

blockquote {
	color: rgb(0, 218, 224);
	font-family: Georgia, "Times New Roman", Times, serif;
}

a:visited {
	color: white;
}
